.caixa {
        position: relative;
        width: 1280px;
        margin: 0 auto;

}

body {
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(84, 8, 140, 1) 100%);

}

/*--------------------------------------Efeito aviso-------------------------------------------------------------------------------*/


.block {
        position: absolute;
        width: 290px;
        height: 25px;
        background: linear-gradient(0deg, #22c1c3, #22c1c3);
        margin-left: 198px;
        margin-top: -18px;
        display: none;
}

.block p {
        font-size: 18px;
        color: white;
}

.block:before,
.block:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #0ff000, #0000ff, #0ff000, #ffff00, #ff0000, #ffff00,
                        #0000ff, #00ff00, #ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
}

@keyframes steam {
        0% {
                background-position: 0 0;
        }

        50% {
                background-position: 400% 0;
        }

        100% {
                background-position: 0 0;
        }
}

.block:after {
        filter: blur(50px);
}

/*  -----------------------------Header-----------------------------------  */
.flex {
        text-align: center;
        margin-top: 25px;

}

.flex h1 {
        font-size: 50px;
        color: white;
        font-family: 'Bruno Ace SC', cursive;
}

.flex p {
        font-size: 20px;
        color: white;
        padding-top: 15px;
        font-family: 'Bruno Ace SC', cursive;

}

/*  --------------------------------Main--------------------------------  */

.texto {
        margin-top: 50px;
        margin-left: 12%;
        display: flex;
        align-items: center;
        opacity: 0.3;

}

.texto2 {
        margin-left: 18%;
}

textarea {
        resize: none;
        font-size: 32px;
        width: 400px;
        height: 450px;
        color: black;
        cursor: default;

}

/*  --------------------------------Sobreposto--------------------------------  */
.sobre {
        width: 377px;
        height: 464px;
        position: absolute;
        top: 155px;
        left: 60%;
        opacity: 1;
        display: block;
}

.sobre img {
        padding-left: 35px;
}

.sobre h1 {
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
        padding-left: 30px;
        color: black;
}

.sobre p {
        padding-top: 15px;
        text-align: center;
        font-size: 18px;
        padding-left: 35px;
        color: white;
}

.sobre2 {
        width: 400px;
        height: 454px;
        position: absolute;
        top: 152px;
        left: 765px;
        opacity: 1;
        display: block;
        background: linear-gradient(90deg, rgba(2, 1, 10, 1) 0%, rgba(37, 162, 37, 1) 48%, rgba(0, 0, 0, 1) 99%);
        display: none;
}

.sobre2 img {
        padding-left: 62.5px;
        padding-top: 10px;
}

.sobre2 h1 {
        font-family: 'Monoton', cursive;
        padding-top: 50px;
        text-align: center;
        font-size: 50px;
        color: white;
}

/*  --------------------------------Aviso--------------------------------  */
.aviso {
        display: flex;
        align-items: center;
        margin-left: 14%;
        margin-top: 5px;
        color: white;
        font-size: 18px;
}

.aviso img {
        padding-right: 3px;
}

/* ------------------------------------Button--------------------------------------------  */
.botao {
        margin-left: 6%;
        margin-top: 10px;

}

button {
        cursor: pointer;
        width: 230px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        transition: 1s all;
        border: 3px solid white;

}

.boton {
        background: transparent;
        color: white;
}

button:hover {
        cursor: pointer;
        transform: scale(1.2);

}

.botaoali {
        margin-left: 21%;
}

/*  -----------------------------------Footer------------------------------------------------*/
.linha {
        margin-top: 50px;
}

.rodape {
        margin-left: 25%;
        display: flex;
        align-items: center;

}

.imagens {
        padding-top: 15px;
        padding-left: 20px;
}

/*  -----------------------------------------------------------FIM----------------------------------------------------------------*/

/* Laptop portrait */

@media screen and (max-width: 1059px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;



        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 50px;
                padding-top: 0px;
                padding-right: 20px;
        }

        .flex p {
                font-size: 22px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 130px;
                display: block;
                margin-top: 25px;
        }

        .texto2 {
                margin-left: 50px;
        }

        textarea {
                width: 350px;
                height: 350px;
        }

        /* Sobreposto */
        .sobre {

                width: 300px;
                height: 300px;
                position: absolute;
                left: 565px;
                margin-top: 0px;
        }

        .sobre img {
                width: 230px;
                height: 190px;
                padding-left: 30px;

        }

        .sobre h1 {
                font-size: 22px;
                padding-top: 22px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 35px;
        }

        .sobre p {
                padding-top: 12px;
                color: white;
                padding-right: 40px;
                font-size: 16px;
                padding-left: 40px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 350px;
                height: 350px;
                left: 542px;
                top: 115px;
        }

        .sobre2 img {
                padding-left: 100px;
                width: 150px;
                height: 150px;
                padding-top: 25px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 50px;
                padding-top: 60px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 140px;
        }

        /* Button */
        .botao {
                margin-left: 130px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 190px;
        }

        /* Footer */
        .rodape {
                margin-left: 350px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 160px;
        }


}

/* Tablet/iPad portrait */
@media screen and (max-width: 1024px) and (max-height: 930px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;



        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 50px;
                padding-top: 0px;
                padding-right: 20px;
        }

        .flex p {
                font-size: 22px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 130px;
                display: block;
                margin-top: 25px;
        }

        .texto2 {
                margin-left: 50px;
        }

        textarea {
                width: 300px;
                height: 300px;
        }

        /* Sobreposto */
        .sobre {

                width: 300px;
                height: 300px;
                position: absolute;
                left: 500px;
                margin-top: 0px;
        }

        .sobre img {
                width: 170px;
                height: 130px;
                padding-left: 55px;
        }

        .sobre h1 {
                font-size: 22px;
                padding-top: 22px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 40px;
        }

        .sobre p {
                padding-top: 12px;
                color: white;
                padding-right: 40px;
                font-size: 16px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 300px;
                height: 300px;
                left: 493px;
                top: 115px;
        }

        .sobre2 img {
                padding-left: 90px;
                width: 120px;
                height: 120px;
                padding-top: 25px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 50px;
                padding-top: 20px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 130px;
        }

        /* Button */
        .botao {
                margin-left: 100px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 150px;
        }

        /* Footer */
        .rodape {
                margin-left: 270px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 145px;
        }
}

/* Tablet  */
@media screen and (max-width: 768px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;
        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 40px;
                padding-top: 0px;
                padding-right: 20px;
        }

        .flex p {
                font-size: 22px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 50px;
                display: block;
                margin-top: 25px;
        }

        .texto2 {
                margin-left: 50px;
        }

        textarea {
                width: 300px;
                height: 300px;
        }

        /* Sobreposto */
        .sobre {

                width: 300px;
                height: 300px;
                position: absolute;
                left: 420px;
                margin-top: 0px;
        }

        .sobre img {
                width: 170px;
                height: 130px;
                padding-left: 55px;
        }

        .sobre h1 {
                font-size: 22px;
                padding-top: 22px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 40px;
        }

        .sobre p {
                padding-top: 12px;
                color: white;
                padding-right: 40px;
                font-size: 16px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 300px;
                height: 300px;
                left: 413px;
                top: 106px;
        }

        .sobre2 img {
                padding-left: 90px;
                width: 120px;
                height: 120px;
                padding-top: 25px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 50px;
                padding-top: 20px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 50px;
        }

        /* Button */
        .botao {
                margin-left: 40px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 130px;
        }

        /* Footer */
        .rodape {
                margin-left: 215px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 69px;
        }
}

/* Smartphone portrait */
@media screen and (max-width: 670px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;
        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 35px;
                padding-top: 0px;
                padding-right: 20px;
        }

        .flex p {
                font-size: 18px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 10px;
                display: block;
                margin-top: 25px;
        }

        .texto2 {
                margin-left: 50px;
        }

        textarea {
                width: 280px;
                height: 280px;
        }

        /* Sobreposto */
        .sobre {

                width: 300px;
                height: 300px;
                position: absolute;
                left: 350px;
                margin-top: -40px;
        }

        .sobre img {
                width: 170px;
                height: 130px;
                padding-left: 55px;
        }

        .sobre h1 {
                font-size: 22px;
                padding-top: 22px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 40px;
        }

        .sobre p {
                padding-top: 12px;
                color: white;
                padding-right: 40px;
                font-size: 16px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 280px;
                height: 280px;
                left: 353px;
                top: 98px;
        }

        .sobre2 img {
                padding-left: 90px;
                width: 120px;
                height: 120px;
                padding-top: 25px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 50px;
                padding-top: 20px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 10px;
        }

        /* Button */
        .botao {
                margin-left: 0px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 100px;
        }

        /* Footer */
        .rodape {
                margin-left: 160px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 30px;
        }

}

/* Smartphone portrait */
@media screen and (max-width: 500px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;
        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 25px;
                padding-top: 0px;
                padding-right: 20px;
        }

        .flex p {
                font-size: 16px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 10px;
                display: block;
                margin-top: 25px;
        }

        .texto2 {
                margin-left: 20px;
        }

        textarea {
                width: 210px;
                height: 210px;
        }

        /* Sobreposto */
        .sobre {

                width: 300px;
                height: 300px;
                position: absolute;
                left: 210px;
                margin-top: -40px;
        }

        .sobre img {
                width: 170px;
                height: 130px;
                padding-left: 55px;
        }

        .sobre h1 {
                font-size: 16px;
                padding-top: 5px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 40px;
        }

        .sobre p {
                padding-top: 10px;
                color: white;
                padding-right: 40px;
                font-size: 13px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 210px;
                height: 210px;
                left: 252px;
                top: 101px;
        }

        .sobre2 img {
                padding-left: 65px;
                width: 90px;
                height: 90px;
                padding-top: 25px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;
                padding-top: 30px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 10px;
                font-size: 14px;
        }

        /* Button */
        .botao {
                margin-left: -10px;
        }

        button {
                width: 100px;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 60px;
        }

        /* Footer */
        .rodape {
                margin-left: 80px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 30px;
                width: 230px;
        }

        .block p {
                font-size: 14px;
        }

}

/*  --------------------------------MOBILE------------------------------------------------*/
@media screen and (max-width: 480px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;



        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 18px;
                padding-top: 0px;
                padding-right: 45px;
        }

        .flex p {
                font-size: 13px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 5px;
                display: block;
                margin-top: 5px;
        }

        .texto2 {
                margin-left: 0px;
        }

        textarea {
                width: 300px;
                height: 170px;
        }

        /* Sobreposto */
        .sobre {

                width: 340px;
                height: 200px;
                position: absolute;
                left: 0px;
                margin-top: 95px;
        }

        .sobre img {
                width: 130px;
                height: 90px;
                padding-left: 85px;
        }

        .sobre h1 {
                font-size: 20px;
                padding-top: 1px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 50px;
        }

        .sobre p {
                padding-top: 12px;
                color: white;
                padding-right: 40px;
                font-size: 15px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 305px;
                height: 173px;
                left: 6px;
                top: 246px;
        }

        .sobre2 img {
                padding-left: 110px;
                width: 80px;
                height: 80px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;
                padding-top: 25px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 5px;
        }

        /* Button */
        .botao {
                margin-left: -10px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 100px;
        }

        /* Footer */
        .rodape {
                margin-left: 10px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 20px;
        }

}

@media screen and (max-width: 365px) {

        /* Heater */
        .caixa {
                width: 100%;
                height: 100%;



        }

        header h1 {
                color: white;

        }

        .flex h1 {
                font-size: 18px;
                padding-top: 0px;
                padding-right: 45px;
        }

        .flex p {
                font-size: 13px;
                font-family: 'Courier New', Courier, monospace;
                padding-right: 45px;
                padding-top: 1px;
        }

        /* Main */
        .texto {
                margin-left: 5px;
                display: block;
                margin-top: 5px;
        }

        .texto2 {
                margin-left: 0px;
        }

        textarea {
                width: 300px;
                height: 170px;
        }

        /* Sobreposto */
        .sobre {

                width: 340px;
                height: 200px;
                position: absolute;
                left: 0px;
                margin-top: 95px;
        }

        .sobre img {
                width: 130px;
                height: 90px;
                padding-left: 85px;
        }

        .sobre h1 {
                font-size: 13px;
                padding-top: 0px;
                font-weight: none;
                font-style: none;
                color: black;
                padding-right: 50px;
        }

        .sobre p {
                padding-top: 8px;
                color: white;
                padding-right: 40px;
                font-size: 15px;
        }

        .sobre2 {
                margin-right: 800px;
                display: none;
                width: 305px;
                height: 173px;
                left: 6px;
                top: 246px;
        }

        .sobre2 img {
                padding-left: 110px;
                width: 80px;
                height: 80px;

        }

        .sobre2 h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;
                padding-top: 25px;

        }

        /* Sobreposto */
        .aviso {
                margin-left: 5px;
        }

        /* Button */
        .botao {
                margin-left: -10px;
        }

        button {
                width: 133px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid white;
        }

        .botaoali {
                margin-top: 10px;
                margin-left: 100px;
        }

        /* Footer */
        .rodape {
                margin-left: 10px;
        }

        .linha {
                margin-top: 15px;
        }

        .mobile {
                width: 60px;
                height: 30px;
                padding-bottom: 200px;
        }

        .mobile2 {
                width: 50px;
                height: 50px;
                padding-bottom: 200px;
        }

        .mobile3 {
                width: 100px;
                height: 100px;
                padding-bottom: 200px;
        }

        .block {
                display: none;
                margin-left: 20px;
                width: 320px;
        }

}